@layer theme {
  body {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    background-color: var(--bg);
    color: var(--fg);
  }

  pre,
  code {
    font-family: var(--font-mono);
  }

  a {
    color: var(--link);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
  }

  a:visited {
    color: var(--link-visited);
  }

  a:hover {
    text-decoration-thickness: 2px;
  }
}
